@model List<CorsoViewModel>

<h1>Ecco la lista dei corsi:</h1>
<br />
<h2>Per inserire nuovo corso -></h2>
<a class="btn btn-success" asp-controller="Corsi" asp-action="Create" type="button">New Corso</a>
<br />
<table class="table table-bordered">
    <thead class="table table-dark">
        <tr>
            <th>Codice</th>
            <th>Nome</th>
            @*<th>Descrizione</th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.CodiceCorso</td>
                <td>@item.Nome</td>
                @*<td>@item.Descrizione</td>*@
                <th>
                <a asp-controller="Corsi" asp-action="Details" asp-route-id="@item.CodiceCorso" class="btn btn-success">Visualizza Dattagli</a>
                <a asp-controller="Corsi" asp-action="Update" asp-route-id="@item.CodiceCorso" class="btn btn-outline-warning">Update</a>
                <a asp-controller="Corsi" asp-action="Delete" asp-route-id="@item.CodiceCorso" class="btn btn-outline-danger">Delete</a>
                </th>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <th>Totale:</th>
            <th>@Model.Count</th>
            @*<th></th>*@
            <th></th>
        </tr>
    </tfoot>
</table>