@model List<DocenteViewModel>

<h1>Ecco la lista degli docenti:</h1>
<br />
<table class="table table-bordered">
    <thead class="table table-dark">
        <tr>
            <th>Nome</th>
            <th>Cognome</th>
            <th>E-mail</th>
            <th>Telefono</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Nome</td>
                <td>@item.Cognome</td>
                <td>@item.Email</td>
                <td>@item.Telefono</td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <th>Numero degli insegnanti:</th>
            <th>@Model.Count</th>
            <th></th>
        </tr>
    </tfoot>
</table>